<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Automation Report</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="container my-2">
            <div><h1>Shivam's Test Automation Report Dashboard</h1></div>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Start Time</th>
                        <th>Started By</th>
                        <th>Features</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="execution : ${listExecutions}">
                        <td th:text="${execution.executionId}"></td>
                        <td th:text="${execution.executionStartTime}"></td>
                        <td th:text="${execution.startedByUser}"></td>
                        <td><a th:href="@{/__${execution.executionId}__/features}">Features</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>